.container-task {
    background-color: rgb(114, 92, 209);
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    color: #eee;
    cursor: pointer;
}

.title-task {
    cursor: pointer;
    word-break: break-all;
}

.container-btn {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.container-remove-btn {
    background-color: rgb(114, 92, 209);
    border: none;
    font-size: 20px;
    color: #eee;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 3px;
}

.container-checked-box {
    width: 25px;
    height: 15px;
    margin-top: 5px;
}